#img-bg {
    background-image: url('https://i.imgur.com/5PXomTA.gif');
    min-height: 695px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#img-bg2 {
    background-image: url('https://i.imgur.com/IRF3AT3.gif');
    background-repeat: no-repeat;
    
}