<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <h1 class="fs-58 text-info mt-3 mb-2 text-center">Atualizar Postagem</h1>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12 mt-2 mb-5">
            <div class="row d-flex justify-content-center">

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="titulo">Titulo</label>
                        <input [(ngModel)]="postagem.titulo" type="text" class="form-control" id="titulo"
                            placeholder="Digite o título">
                    </div>

                    <div class="form-group">
                        <label for="titulo">Texto</label>
                        <textarea [(ngModel)]="postagem.texto" class="form-control" name="texto" id="texto"
                            rows="3"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="titulo">Escolha um tema:</label>
                        <select class="form-control" name="tema" id="tema" [(ngModel)]="idTema"
                            (change)="findByIdTema()">
                            <option *ngFor="let item of listaTemas" value="{{item.id}}">{{item.descricao}}</option>
                        </select>
                    </div>

                    <div class="d-flex justify-content-center mb-4 mt-4">
                        <button class="btn btn-danger mr-2" routerLink="/inicio">Cancelar</button>
                        <button class="btn btn-success ml-2" (click)="atualizar()">Atualizar</button>
                    </div>

                </div>

            </div>
        </div>
    </div>

  

</div>